<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div>
      <p class="left"><strong>名前:</strong></p>
      <p class="left"><%= @user.name %></p>
      <p class="left"><strong>メール:</strong></p>
      <p class="left"><%= @user.email %></p>
    </div>
    <div>
      <%= render 'form', user: @user %>
    </div>
    <%= link_to '戻る', users_path %>
  </div>

</div>
